<MudNavMenu Class="mudblazor-navmenu" Color="Color.Inherit" Dense="true">
    <div class="docs-nav-fader"></div>
    <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home" Match="NavLinkMatch.All">Início</MudNavLink>
    <MudNavGroup Title="Grupo"
                 Icon="@Icons.Material.Filled.List"
                 ExpandIcon="@Icons.Material.Filled.ExpandMore"
                 Expanded="true"
                 Style="margin-top: 40px;">
        <MudNavLink Href="/nomegrupos" Icon="@Icons.Material.Filled.AddCircle">Gerenciar Grupos</MudNavLink>
       
        <MudNavLink Href="/grupo/additemgroup" Icon="@Icons.Material.Filled.AddBox">Adicionar / Excluir Itens em um Grupo</MudNavLink>
        
    </MudNavGroup>
    <MudNavGroup Title="Estoque Mínimo" Icon="@Icons.Material.Filled.Warning" Expanded="false">
        <MudNavLink Href="/produtos" Icon="@Icons.Material.Filled.Inventory">Produtos com Estoque Mínimo</MudNavLink>
    </MudNavGroup>
</MudNavMenu>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}